$header_footer_background: #404040;
$standard_space: 10px;

@mixin marginCentered(){
    margin-left:auto;
    margin-right:auto;
}
@mixin fullCentered(){
    @include marginCentered();
    text-align:center;
}
#haveawordLogo a{
    color: red;
}
.yellowText{
    color:yellow !important;
}
.redText{
    color:red !important;
}
.whiteText{
    color:white !important;
}
.jumbotron{
    background-color: gray;
    font-family: "Verdana", "Arial", "Courier New";
}
.jumbotron, footer{
    text-align:center;
    font-family: verdana;
    background-color: $header_footer_background;
    width: 100%;
    background-size:cover;
}
footer{
    color:white;
    margin-top: $standard_space;
    padding-top: $standard_space;
    padding-bottom: $standard_space;
}

select{
    color: white;
    background-color: $header_footer_background;
}

#formSuccess, #formError{
    background-color:$header_footer_background;
    font-family: "Verdana";
    padding: $standard_space;
    font-weight:bold;
    margin-top:$standard_space;
    border-radius:$standard_space;
    max-width:95%;
    @include fullCentered();
}
#formSuccess{
    color:white;
}
#formError{
    color:red;
}

textarea{
    min-width:70%;
    max-width:98%;
    resize:both;
}

td{
    border: 3px solid black;
    text-align:left;
    padding-left:2%;
}
td, th{
    padding:5px;
    min-width:30%;
    max-width:50%;
}
th{
    text-align:center;
    font-size:150%;
    background-color:#404040;
    color:white;
    font-family:"Verdana";
    border: 5px groove yellow;
}
table{
    @include marginCentered();
    min-width:70%;
    max-width:90%;
    overflow-x:scroll;
    img{
        max-width:100%;
    }
}
#newRoomForm, #passwordForm, #chatRoom, #fourohfour, #reminder, #about{
    @include fullCentered();
}
#about img{
    border: 3px solid red;
}
.aboutCaption{
    font-weight:bold;
    padding-top: $standard_space;
    padding-bottom: $standard_space;
}
.img-responsive{
    margin-left:auto;
    margin-right:auto;
}